.fc {
    display: flex;
    align-items: center;
}

@media only print{
    .screen {
        display:none;
    }
    .screen-flex{
        display:none;
    }
    .print{
        display: block;
    }
}

@media only screen{
    .screen {
        display:block;
    }
    .print{
        display: none;
    }
    .screen-flex{
        display:flex;
    }
}